<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
      Period Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color1">
    <ion-label position="stacked">Description</ion-label>
    <ion-text>
      <p>Estimates the future perioid days or the most probable ovulation days.</p>
    </ion-text>
  </ion-item>
  <ion-list>
  <ion-item class="color2">
    <ion-label position="stacked">First day of last period:</ion-label>
    <ion-datetime [(ngModel)]="date" placeholder="Pick date"></ion-datetime>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="stacked">How long did it last?</ion-label>
    <ion-input type="number" [(ngModel)]= "long" placeholder="in days"></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <p>Ranges from: 1 to 10 days.</p>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="stacked">How long is your cycle?</ion-label>
    <ion-input type="number" [(ngModel)]= "cycle" placeholder="in days"></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <p>Ranges from: 22 to 44 days. Use 28 days if unsure.</p>
  </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="calculate()" class="color3">Calculate<ion-icon slot="end" name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="clear()" fill="outline" class="color2">Clear<ion-icon slot="end" name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="color4" *ngIf="nextperiod1">
    <ion-label>Next cycle 1: period between <b>{{nextperiod3 | date}} - {{lastperiod3 | date}}</b>, ovulation between <b>{{nextovulation1 | date}} - {{lastovulation1 | date}}</b></ion-label>
  </ion-item>
  <ion-item class="color4" *ngIf="nextperiod1">
    <ion-label>Next cycle 2: period between <b>{{nextperiod1 | date}} - {{lastperiod1 | date}}</b>, ovulation between <b>{{nextovulation2 | date}} - {{lastovulation2 | date}}</b></ion-label>
  </ion-item>
  <ion-item class="color4" *ngIf="nextperiod1">
    <ion-label>Next cycle 3: period between <b>{{nextperiod2 | date}} - {{lastperiod2 | date}}</b>, ovulation between <b>{{nextovulation3 | date}} - {{lastovulation3 | date}}</b></ion-label>
  </ion-item>
</ion-content>