<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
      Ovulation Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color1">
    <ion-label position="stacked">Description</ion-label>
    <ion-text>
      <p>Estimates most probable ovulation or fertile window and other related dates.</p>
    </ion-text>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-list>
  <ion-item class="color2">
    <ion-label position="stacked">First day of last period:</ion-label>
    <ion-datetime [(ngModel)]="date" placeholder="Pick date"></ion-datetime>
  </ion-item>
  <ion-item class="color2">
    <ion-label position="stacked">How long is your cycle?</ion-label>
    <ion-input type="number" [(ngModel)]= "cycle" placeholder="in days"></ion-input>
  </ion-item>
  <ion-item class="color2">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <p>Ranges from: 22 to 44 days. Use 28 days if unsure.</p>
  </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="calculate()" class="color3">Calculate<ion-icon slot="end" name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="clear()" fill="outline" class="color2">Clear<ion-icon slot="end" name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="color4" *ngIf="ovulation">
    <p>Ovulation window: <b>{{ovulationwindow | date}} - {{intercourse2 | date}}</b></p>
  </ion-item>
  <ion-item class="color4" *ngIf="ovulation">
    <p>Most probable ovulation date: <b>{{ovulation | date}}</b></p>
  </ion-item>
  <ion-item class="color4"  *ngIf="ovulation">
    <p>Intercourse window for pregnancy: <b>{{intercourse1 | date}} - {{intercourse2 | date}}</b></p>
  </ion-item>
  <ion-item class="color4"  *ngIf="ovulation">
    <p>Pregnancy test: <b>{{pregnancytest | date}}</b></p>
  </ion-item>
  <ion-item class="color4"  *ngIf="ovulation">
    <p>Next period start: <b>{{nextperiod | date}}</b></p>
  </ion-item>
  <ion-item class="color4"  *ngIf="ovulation">
    <p>Due date if pregnant: <b>{{duedate | date}}</b></p>
  </ion-item>
</ion-content>