<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color1">
    <ion-label position="stacked">Ovulation</ion-label>
    <ion-text>
      <p>1. Ovulation in humans is the process by which ovarian follicles rupture and release one or more mature egg from the ovaries</p>
      <p>2. On average, ovulation occurs within the 4 days before or after the midpoint of a woman's menstrual cycle (14 days before the start of a woman's next menstrual period)</p>
      <p>3. Day 10-18 of the menstrual cycle (on average) is the most fertile phase of the menstrual cycle</p>
      <p>4. Since sperm can survive inside a woman's body for up to five days, regular sex five days before and on the day of ovulation can improve the likelihood of conception</p>
    </ion-text>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item class="color1">
    <ion-label position="stacked">Period</ion-label>
    <ion-text>
      <p>1. The menstrual cycle is a series of changes that occur in a woman's body as part of preparation for the possibility of pregnancy occurring</p>
      <p>2. It is a cycle that usually begins between 12 and 15 years of age that continues up until menopause</p>
      <p>3. The length of a woman's menstrual cycle varies. A regular menstrual cycle is considered to be a menstrual cycle where the longest and shortest cycles vary by less than 8 days</p>
      <p>4. A period, a commonly used term for referring to menstruation, is a woman's regular discharge of blood and mucosal tissue that occurs as part of the menstrual cycle</p>
    </ion-text>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <p class="ion-padding"><a target="_blank" rel="noopener noreferrer" href="https://www.calculator.net/ovulation-calculator.html">Click here for the reference!</a></p>
  </ion-content>